/* your styles go here */

body {
	background-color: #000;
	background-image: url("https://stmed.net/sites/default/files/nicolas-cage-wallpapers-27174-1246435.jpg");
	background-image: no-repeat;
}

#gallery{
	height: 100vh;
}
.imageGallery{
	background-repeat: no-repeat;
	background-size: cover;
	height: 20%;
	background-position: center;
}

.modal-body > img{
	width: 100%;
}

.modal-dialog{
	width: 90%;
}